<div class="cart" *ngIf="booksInCart$ | async as books">
  <table
    class="books-table"
    *ngIf="books.length > 0; else emptyCart"
    [columns]="columns"
    tuiTable
  >
    <thead>
      <tr tuiThGroup>
        <th *tuiHead="'number'" [sorter]="null" tuiTh>#</th>
        <th *tuiHead="'title'" tuiTh>Название</th>
        <th *tuiHead="'subtitle'" [sorter]="null" tuiTh>Дополнительно</th>
        <th *tuiHead="'price'" tuiTh>Цена</th>
        <th *tuiHead="'cart'" [sorter]="null" tuiTh>Корзина</th>
      </tr>
    </thead>
    <tbody
      *tuiLet="books | tuiTableSort as sortedUsers"
      [data]="sortedUsers"
      tuiTbody
    >
      <tr
        class="cart-book-row"
        *ngFor="let book of sortedUsers; let i = index"
        (click)="toDetailPage(book.isbn13)"
        tuiTr
      >
        <td *tuiCell="'number'" tuiTd>
          {{ i + 1 }}
        </td>
        <td *tuiCell="'title'" tuiTd>
          <img [src]="book.image" [alt]="book.title" width="30px" />
          {{ book.title }}
        </td>
        <td *tuiCell="'subtitle'" tuiTd>{{ book.subtitle || 'Нет данных' }}</td>
        <td *tuiCell="'price'" tuiTd>{{ book.price }}</td>
        <td *tuiCell="'cart'" (click)="$event.stopPropagation()" tuiTd>
          <cart-button [book]="book"></cart-button>
        </td>
      </tr>
      <tr class="total-price" tuiTr>
        <td *tuiCell="'price'" colspan="5" tuiTd>
          Сумма: {{ 'USD' | tuiCurrency }}{{ totalSum$ | async }}
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #emptyCart>
  <div>Корзина пуста</div>
</ng-template>
