<div class="cart" *ngIf="(booksInCart$ | async) as books">

  <table class="books-table"
         *ngIf="books.length > 0; else emptyCart"
         tuiTable
         [columns]="columns">
    <thead>
    <tr tuiThGroup>
      <th tuiTh *tuiHead="'number'" [sorter]="null">#</th>
      <th tuiTh *tuiHead="'title'">Название</th>
      <th tuiTh *tuiHead="'subtitle'" [sorter]="null">Дополнительно</th>
      <th tuiTh *tuiHead="'price'">Цена</th>
      <th tuiTh *tuiHead="'cart'" [sorter]="null">Корзина</th>
    </tr>
    </thead>
    <tbody tuiTbody
           *tuiLet="books | tuiTableSort as sortedUsers"
           [data]="sortedUsers">
    <tr
      tuiTr
      class="cart-book-row"
      *ngFor="let book of sortedUsers; let i = index">
      <td *tuiCell="'number'"
          tuiTd>
        {{i + 1}}
      </td>
      <td *tuiCell="'title'"
          tuiTd
          (click)="toDetailPage(book.isbn13)">
        <img width="30px"
             [src]="book.image"
             [alt]="book.title">
        {{book.title}}
      </td>
      <td *tuiCell="'subtitle'" tuiTd>{{book.subtitle || 'Нет данных'}}</td>
      <td *tuiCell="'price'" tuiTd>{{book.price}}</td>
      <td *tuiCell="'cart'" tuiTd (click)="$event.stopPropagation()">
        <button
          (click)="removeFromCart(book)"
          tuiButton
          size="s"
          appearance="secondary-destructive"
          icon="tuiIconTrash2"
        >
          Удалить из корзины
        </button>
      </td>
    </tr>
    <tr tuiTr class="total-price">
      <td colspan="5" tuiTd *tuiCell="'price'">
        Сумма: {{ 'USD' | tuiCurrency }}{{ totalSum$ | async }}
      </td>
    </tr>
    </tbody>
  </table>


</div>

<ng-template #emptyCart>
  <div>Корзина пуста</div>
</ng-template>
