<header class="header">
  <div class="header-container">
    <div class="header-name">Книжный</div>
    <nav>
      <ul class="header-links">
        <button
          [ngClass]="{ active: isTabActive('main') }"
          tuiIconButton
          title="Главная"
          icon="tuiIconHome"
          size="m"
          routerLink="/main"
          shape="rounded"
          appearance="flat"
        >
          Главная
        </button>
        <button
          [ngClass]="{ active: isTabActive('cart') }"
          tuiIconButton
          title="Корзина"
          size="m"
          icon="tuiIconShoppingCart"
          routerLink="/cart"
          shape="rounded"
          appearance="flat"
        >
          Корзина
        </button>
      </ul>
    </nav>
  </div>
</header>
