<div class="book" *ngIf="(book$ | async) as book">
  <button class="book-back-button" (click)="toBackPage()"><—Назад</button>
  <div>
    <img class="book-image" [src]="book.image" [alt]="book.title">
  </div>
  <div class="book-block">
    <h1>{{book.title}}</h1>
    <p class="book-subtitle" *ngIf="book.subtitle">Дополнительно: {{book.subtitle}}</p>
    <div class="book-price">Цена: {{book.price}}</div>
    <a class="book-full-info" [href]="book.url" target="_blank">Полная информация</a>
    <button
      class="book-buy-button"
      [ngClass]="{'add-to-cart-button': !book.isInCart, 'remove-from-cart-button': book.isInCart}"
      (click)="addToOrRemoveFromCart(book)"
      [textContent]="book.isInCart ? 'Удалить из корзины' : 'Добавить в корзину'">
    </button>
  </div>
</div>
