<div class="book" *ngIf="book$ | async as book">
  <button
    class="book-back-button"
    (click)="toBackPage()"
    tuiButton
    appearance="flat"
    size="xs"
  >
    Назад
  </button>
  <div>
    <img class="book-image" [src]="book.image" [alt]="book.title" />
  </div>
  <div class="book-block">
    <h1>{{ book.title }}</h1>
    <p class="book-subtitle" *ngIf="book.subtitle"
      >Дополнительно: {{ book.subtitle }}</p
    >
    <div class="book-price">Цена: {{ book.price }}</div>
    <a class="book-full-info" [href]="book.url" target="_blank"
      >Полная информация</a
    >
    <div>
      Корзина:
      <cart-button [book]="book"></cart-button>
    </div>
  </div>
</div>
