.books {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 90rem;
}

.books-table {
  margin: 0 auto;
}

.books-row:hover {
  background-color: antiquewhite;
}

.books-title:hover {
  cursor: pointer;
  color: #3995ef;
}

