<div class="books">
  <input type="text" placeholder="Поиск" #inputElement (input)="searchBooks(inputElement.value)">
  <select class="books-sort" (change)="sortBooks($event)">
    <option disabled selected>Выбрать сортировку</option>
    <option value="A-Z">Сортировать от A до Z</option>
    <option value="Z-A">Сортировать от Z до A</option>
    <option value="lowPrice">Сначала дешевые</option>
    <option value="highPrice">Сначала дорогие</option>
  </select>
  <table class="books-table"
         *ngIf="(books$ | async) as books">
    <tr>
      <th>#</th>
      <th>Название</th>
      <th>Дополнительно</th>
      <th>Цена</th>
      <th>Корзина</th>
    </tr>
    <tr
      class="books-row"
      *ngFor="let book of books; let i = index"
    >
      <td>{{i + 1}}</td>
      <td class="books-title" (click)="toDetailPage(book.isbn13)">
        <img width="30px"
             [src]="book.image"
             [alt]="book.title">
        {{book.title}}
      </td>
      <td>{{book.subtitle}}</td>
      <td>{{book.price}}</td>
      <td>
        <button class="books-button"
                [ngClass]="{'add-to-cart-button': !book.isInCart, 'remove-from-cart-button': book.isInCart}"
                (click)="addToOrRemoveFromCart(book)"
                [textContent]="book.isInCart ? 'Удалить из корзины' : 'Добавить в корзину'">
        </button>
      </td>
    </tr>
  </table>
</div>
